.TodoItem{
    background-color: #ee8b84;
    border-radius: 1.2rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    position: relative;
}

.TodoItem__p{
    margin-left: 3.3rem;
    width: calc(100% - 120px);
    text-align: left;
    line-height: 1rem;
    font-weight: 400;
    align-self: center;
}

.TodoItem__p--complete{
    text-decoration: line-through;
}

.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 2.3rem;
    font-size: 20px;
    font-weight: bold;
    background-color:  #fafafa; 
    color: black;
    border-radius: 5rem;

    &:hover{
        background-color: #f8dfdc;
    }
}

.Icon__check {
    position: absolute;
    left: 20px;
}

.Icon__check--active{
    color: rgb(7, 168, 29);
    background-color: #d4d3d3;
}

.Icon-delete{
    position: absolute;
    top: -24px;
    right: 0;

    &:hover{
        color: red;
    }
}