
h1 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    padding: 1.5rem 0;
    background-color: #00B026;
    color: white;
    border-radius: 0 3rem;
    font-weight: 400;
}

span{
    font-weight: bold;
}